﻿/* ----- PRINCIPALI ----- */

.body {
    background-color: #A2F2FF;
    background-repeat: repeat;
    overflow: auto;
}

.divMain {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: Arial;
}


.opacity {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: black;
    opacity: 0.7;
}

.winFrame {
    -moz-box-shadow: 0 0px 50px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0px 50px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.6);
    border: 3px solid #024585;
    border-radius: 5px 5px 0px 0px;
}

.winFrameHeader {
    background-color: #024585;
    height: 27px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.winFrameTitle {
    position: absolute;
    font-family: Arial;
    color: white;
    font-weight: bold;
    font-size: 14px;
    top: 4px;
    left: 4px;
}

.btnWinFrameClose {
    background: none;
    border: none;
    background-image: url(images/croce15b.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

    .btnWinFrameClose:hover {
        background-image: url(images/croce15v.png);
    }

#titolo {
    text-align: center;
    color: white;
    width: auto;
    height: 50px;
    background-color: #60E6FD;
    line-height: 50px;
}

#menu {
    height: 50px;
    background-color: #60E6FD;
    width: auto;
    text-align: center;
    border: 1px solid white;
}


.link {
    font-family: Arial;
    text-decoration: none;
    font-size: 18px;
    width: 180px;
    height: 100%;
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

    .link:hover {
        color: #60E6FD;
        background-color: white;
    }

.labelEvent {
    font-family: Arial;
    display: block;
    float: left;
    width: 150px;
    padding: 0;
    margin-left: 80px;
    margin-right: 10px;
    text-align: right;
    margin-top: 22px;
}

.txtEvent {
    margin-top: 20px;
}

#descrizione {
    width: 173px;
    height: 50px;
}

#btnConferma {
    bottom: 10px;
    position: absolute;
    right: 100px;
}

#btnCancella {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#lblSelectDay {
    left: 240px;
    position: absolute;
    width: 180px;
}

#lblSelectEvent {
    left: 0;
    position: absolute;
    width: 180px;
}

#cmbEvento {
    top: 30px;
    left: 135px;
    width: 150px;
    position: absolute;
}

#cmbGiornata {
    top: 30px;
    left: 395px;
    width: 120px;
    position: absolute;
}

#btnConta {
    top: 35px;
    position: absolute;
    right: 165px;
    height: 40px;
}

#btnSalva {
    top: 240px;
    position: absolute;
    right: 220px;
    height: 40px;
    width: 50px;
    visibility: hidden;
}

#btnAnnulla {
    top: 290px;
    position: absolute;
    right: 220px;
    height: 40px;
    width: 110px;
    visibility: hidden;
}

#btnStop {
    top: 240px;
    position: absolute;
    right: 280px;
    height: 40px;
    width: 50px;
    visibility: hidden;
}

#lblCounterText {
    top: 270px;
    left: 75px;
    font-size: 30px;
    position: absolute;
    width: 262px;
    visibility: hidden;
}

#lblCounter {
    top: 270px;
    left: 125px;
    font-size: 30px;
    position: absolute;
    width: 262px;
    visibility: hidden;
}

#lblCapacityText {
    top: 220px;
    left: 140px;
    font-size: 20px;
    position: absolute;
    width: 186px;
    visibility: hidden;
}

#lblCapacity {
    top: 222px;
    font-size: 20px;
    position: absolute;
    width: 186px;
    left: 200px;
    visibility: hidden;
}

#lblSelectEventG {
    top: 20px;
    left: 20px;
    position: absolute;
}

#cmbEventoG {
    top: 19px;
    width: 120px;
    position: absolute;
    left: 145px;
}

#btnGetGraphic {
    position: absolute;
    left: 300px;
    top: 19px;
}

#btnGetGeneralGraphic {
    position: absolute;
    left: 20px;
    top: 80px;
}

#chart {
    width: 590px;
    height: 367px;
    margin: 0 auto;
}
